/* General customization */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2');
}

body {
    background-color: #FFE4C4;
    font-family: monospace, 'Roboto', sans-serif;
}

/* General customization */


/* Header customization */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #A52A2A;
}

header a {
    text-decoration: none;
}

a:hover {
    color: #A52A2A;
    text-decoration: none;
    transition: color .15s;
}

a:active {
    font-weight: bold;
}

nav ul {
    margin: 15px 0;
}

header li {
    display: inline;
}

nav li+li::before {
    content: "-    ";
}
/* Header customization */

/* Main customization */
main {
    display: flex;
    flex-flow: row wrap;
    margin: 8px auto;
    max-width: 800px;
    padding: 3px 10px;
    border-radius: 4px;
    background-color: #f8eeec;
}

.notes ul {
    border: #DEB887 dotted 2px;
    border-radius: 12px;
    list-style: square;
    padding: 0;
    margin: 0;
    list-style-position: inside;
    padding: 3px;
}

.notes ul ul {
    border: none;
    list-style: square;
    max-width: 80%;
    padding: 0;
    margin: 0 0 0 8%;
    list-style-position: inside;
}

/* Tables */
h2 {
    text-align: left;
    margin: 15px 0 2px 0;
    color: #A52A2A;
}

table {
    width: 100%;
    border-collapse: separate;
    margin: 0 0 10px 0;
    border-spacing: 3px;
    border-radius: 12px;
    border: #DEB887 solid 2px;
    word-wrap: break-word;
}

thead th {
    background-color: #A52A2A;
    color: #f8eeec;
    border-radius: 7px;
    padding: 3px;
    word-wrap: break-word;
}
tbody td {
    border-top: #A52A2A solid 1px;
    word-wrap: break-word;
}

/* Target first child td of each tr */
tr > td:first-child {
    color: #A52A2A;
    border-right: #A52A2A solid 1px;
}
/* Tables */

/* Footer */
footer {
    margin: 10px auto;
    max-width: 800px;
}

/* Media queries */
@media only screen and (max-width: 480px) {
    main {
        width: 100%;
    }
}